.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: hsl(288, 100%, 38%);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: black;
    cursor: pointer;
    font-style: italic;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(288, 100%, 38%);
    min-width: 100px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.8);
    font-style: italic;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsl(0, 0%, 51%);
}
.dropdown a:hover{
    background-color: hsl(0, 0%, 51%);
}